@font-face {
  font-family: 'Work Sans';
  src: url(./assets/fonts/WorkSans-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Work Sans Italic';
  src: url(./assets/fonts/WorkSans-VariableFont_wght.ttf);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Work Sans';
}

:root {
  --desktop-background-image: url(./assets/images/background-pattern-desktop.svg);
  --mobile-background-image: url(./assets/images/background-pattern-mobile.svg);
  --main-background-image: --mobile-background-image;
}

body {
  background: var(--mobile-background-image) center top no-repeat
    hsl(275, 100%, 97%);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* justify-content: center; */
  align-items: center;
}

.faqs {
  margin-block-start: 150px;
  margin-inline: 1.8rem;
  max-width: 650px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding-inline: 20px;
  padding-block: 25px;
}

.faqs__header {
  display: flex;
  align-items: center;
  gap: 22px;
  margin-block-end: 2rem;
}

.faqs__header-icon {
  height: 1.5rem;
}
.faqs__header-heading {
  font-size: 2rem;
  font-weight: 700;
}

.faqs__qa-list {
  display: flex;
  flex-direction: column;
  /* gap: 1.5rem; */
}
.faqs__qa-list > .faqs__qa-pair:not(:first-child) {
  border-block-start: 2px solid hsl(275, 100%, 97%);
}

.faqs__qa-pair {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-block: 1.5rem;
}

.faqs__qa-pair:first-child {
  padding-block-start: 0;
}
.faqs__qa-pair:last-child {
  padding-block-end: 0;
}

.faqs__question {
  color: hsl(292, 42%, 14%);
  font-weight: 600;
}
.faqs__question * {
  display: block;
}
.question__input-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.faqs__answer {
  max-width: 50ch;
  font-weight: 500;
  color: hsl(292, 16%, 49%);
}

.question__input {
  display: none;
}

.faqs__qa-pair:has(.question__input:not(:checked)) > .faqs__answer {
  display: none;
}

.faqs__qa-pair:has(.question__input:checked)
  > .faqs__question
  .question__input-label
  > .label__icon
  .label__plus {
  opacity: 0;
}

.faqs__qa-pair:has(.question__input:not(:checked))
  > .faqs__question
  .question__input-label
  > .label__icon
  .label__minus {
  opacity: 0;
}

.label__icon {
  min-width: 30px;
  height: 30px;
}
.label__plus,
.label__minus {
  position: absolute;
  transition: opacity 250ms linear;
  opacity: 1;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 375px) {
  body {
    background: var(--desktop-background-image) center top no-repeat
      hsl(275, 100%, 97%);
  }
}
